.page {
  font-family: 'TT Commons', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #fff;
  max-width: 1440px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 360px;
    padding: 0 20px;
  }
}
